{% extends "base.html" %}

{% block extrahead %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap">

  {% if page and page.meta and page.meta.image %}
    <meta property="og:image" content="{{ page.meta.image }}">
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon.png' | url }}">
{% endblock %}
